# .gitignore
.env
.env.local
.env.production
downloads/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
TON-Explorer-Transaction-·-9a8b…33c0-11-24-2025_07_33_PM.png
Desktop-screenshot-11-24-2025_07_16_PM.png
Create-new-application-11-24-2025_07_23_PM.png
Desktop-screenshot-11-24-2025_07_19_PM.png
